
.projectpreview {
	border-top: 1px solid;
	border-color:#CBCBCB;
}
  img {
	width:800px;
	height:460px;
  }
  section {
	margin-left: 60px;
	margin-right: 60px;
  }

.a {
	display: grid;
	grid-template-columns: 2fr 1fr;
	border-top: 1px solid;
	border-color:#CBCBCB;
	padding-top: 20px;
}
